#Ignore rootkey file
rootkey.*
#Jupyter stuff
.ipynb_checkpoints
#vim tilde files
*~
#python cache
__pycache__

#Data file
data

#databases 
#Gotta keep all databases with this extension
*.db

# beamer presentation files
*.aux
*.log
*.out
*.pdf
*.snm
*.toc
*.nav
