#Ignore rootkey file
rootkey.*
#Jupyter stuff
.ipynb_checkpoints
#vim tilde files
*~
#local settings
config.toml

#python cache
__pycache__

#Data file
data

#Undesirable image files
tmp.ps

#databases 
#Gotta keep all databases with this extension
*.db

# beamer presentation files
*.aux
*.log
*.out
*.pdf
*.snm
*.toc
*.nav

#OCaml and binaries compiler
cnl_latextual/simple_transformation/delcol
cnl_latextual/simple_transformation/print
cnl_latextual/simple_transformation/sort
cnl_latextual/simple_transformation/*.annot
cnl_latextual/*.cmi
cnl_latextual/simple_transformation/*.cmo

