#Ignore rootkey file
rootkey.*
#Jupyter stuff
.ipynb_checkpoints
#vim editing files 
*~
*.swp
#local settings
config.toml

#python cache
__pycache__

#Data file
data

#Undesirable image files
tmp.ps

#databases 
#Gotta keep all databases with this extension
#*.db need to include a test database

# beamer presentation files
*.aux
*.log
*.out
*.pdf
*.snm
*.toc
*.nav

#OCaml and binaries compiler
*.annot
*.cmi
*.cmo
cnl_latextual/simple_transformation/delcol
cnl_latextual/simple_transformation/addone
cnl_latextual/simple_transformation/print
cnl_latextual/simple_transformation/sort
cnl_latextual/simple_transformation/test_dtd

#Merlin data dirs
.merlin
#dune build dirs
cnl_latextual/LaTeXtual/_build/
/virtualenv/
